.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
.env.aws.rds
prisma/dev.db
prisma/reset.ts

src/utils/app.log

localhost-cert.pem
localhost-key.pem
root.cookie.pkfile

localhost.crt
localhost.key

ca.pem

wrangler.toml

pingfile

drizzle